@font-face {
    font-family: "pokemon";
    src: url("../images/Pokemon\ Hollow.ttf");
}
@font-face {
    font-family: "pokemon bold";
    src: url("../images/Pokemon\ Solid.ttf");
}
@font-face {
    font-family: "road";
    src: url("../images/The\ Road\ Ahead.otf");
}

body {
   background: url("/Users/cnyokoyama/Documents/UCLA/Homework/GifTastic/assets/images/background.jpg");
   background-size: 100%;
   background-position-y: -85px;
}
.title {
    text-align: center;
}
.mainContent {
    padding-top: 30px;
}
.headerTitle {
    text-align: center;
    padding-left: 50px;
    font-family: road;
    font-size: 100px;
    color: white;
    margin: -85px;
}
#pokemonFont {
    font-family: pokemon bold;
    font-size: 50px;
    text-shadow: black 2px 2px;
}
#buttons {
    text-align: center;
    color: black;
    font-family: pokemon bold;
    font-size: 30px;
    margin: 50px;
}
#addPokemon {
    text-align: center;
    font-family: pokemon bold;
    font-size: 25px;
}
#pokemon-form {
    text-align: center;
    color: rgb(238, 200, 75);
    text-shadow: 2px 2px black;
    font-family: pokemon bold;
    font-size: 40px;
}

